{% extends '_base.html' %}

{% block extra_head %}
<base target="_top">
{% endblock extra_head %}

{% block header_content %}
<nav role="navigation">
    <ul class="site-links">
        <li class="npr"><a href="https://www.npr.org"><img src="https://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></a></li>
        <li class="news"><a href="https://www.npr.org/sections/news/">News</a></li>
        <li class="arts"><a href="https://www.npr.org/sections/arts/">Arts &amp; Life</a></li>
        <li class="music"><a href="https://www.npr.org/music/">Music</a></li>
        <li class="listen"><a href="https://www.npr.org/listen/">Listen</a></li>
    </ul>
    <ul class="social-links">
        <li class="twitter"><a rel="external" href="https://twitter.com/share?text={{ TWITTER.TEXT|urlencode }}&amp;url={{ TWITTER.URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Navbar', '{{ PROJECT_NAME }}']);">Share This Page On Twitter</a></li>
        <li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK.APP_ID }}&amp;link={{ FACEBOOK.URL|urlencode }}&amp;name={{ FACEBOOK.TITLE|urlencode }}&amp;picture={{ FACEBOOK.IMAGE_URL|urlencode }}&amp;redirect_uri={{ FACEBOOK.URL|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', '{{ PROJECT_NAME }}']);">Like This Page On Facebook</a></li>
    </ul>
    <ul class="site-links-2">
        <li class="stations"><a href="https://www.npr.org/templates/stations/stations/">Stations</a></li>
        <li class="donate"><a href="https://www.npr.org/stations/donate/index.php">Donate</a></li>
        <li class="shop"><a href="https://shop.npr.org">Shop</a></li>
    </ul>
</nav>

<header>
    <h1>Loading...</h1>
    <h2><a href="">Related story &rsaquo;</a></h2>
</header>
{% endblock %}

{% block wide_content %}

<div id="DV-viewer" class="DV-container"></div>
<script src="https://assets.documentcloud.org/viewer/loader.js"></script>

<div id="fullscreen-link">
    <a target="_top" href="">Explore This Document In Full-Screen Mode</a>
</div>

{% endblock %}

{% block extra_foot_js %}
{{ JS.push('js/app.js') }}
{{ JS.push('js/templates.js') }}
{{ JS.render('js/app-footer.min.js') }}
{% endblock extra_foot_js %}
