{% extends '_base.html' %}

{% block body_class %}generator{% endblock body_class %}

{% block header_content %}
<header>
    <h1>Paper Trail</h1>
    <h2>A Document Cloud embed generator</h2>
</header>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <label for="doc-url">Paste In Your DocumentCloud URL</label>
                <input type="url" name="doc-url" class="form-control" />
                <p class="help-block">(e.g., https://www.documentcloud.org/documents/778137-lipo-charger-basic-v10.html)</p>
            </div>

            <button id="generate" type="button" class="btn btn-blue">Generate embed code</button>
            
            <div class="form-group">
                <label for="embed-code">Embed Code</label>
                <textarea name="embed-code" class="form-control" rows="3" readonly="readonly"></textarea>
                <p class="help-block">Add this code to your Seamus story as an <i class="icon-code"></i> HTML asset.</p>
            </div>

            <div class="form-group">
                <label for="fullscreen-url">Fullscreen URL</label>
                <input type="url" name="fullscreen-url" class="form-control" readonly="readonly"/>
                <p class="help-block">Or <i class="icon-link"></i> link directly to the full document viewer.</p>
            </div>
  
        </form>
    </div>
</div>
{% endblock %}

{% block extra_foot_js %}
{{ JS.push('js/generate.js') }}
{{ JS.push('js/templates.js') }}
{{ JS.render('js/generate-footer.min.js') }}
{% endblock extra_foot_js %}
