{% extends '_base.html' %}

{% block body_class %}generator{% endblock body_class %}

{% block header_content %}
<nav class="tools">
    <h1>
        DocumentCloud Documents
        <span class="help">
            <a href="https://docs.google.com/document/d/1DCJ7TY1TSbuIDiGeV0Cxix4Dzq-ynqhZSV4K1lweBkg/edit?usp=sharing">
            <i class="fa fa-info-circle"></i>
            How To Use This
            </a>
        </span>
    </h1>
    <a class="toolkit-link" href="http://tools.apps.npr.org">
        <span class="logo-wrapper"><img src="https://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></span>
        Newsroom Toolkit
    </a>
</nav>

<header>
    <h1>Document Embed Generator</h1>
    <h2>Use this tool to publish <a href="https://www.documentcloud.org">DocumentCloud</a> documents in Seamus or a standalone URL. New here? <a href="https://docs.google.com/document/d/1DCJ7TY1TSbuIDiGeV0Cxix4Dzq-ynqhZSV4K1lweBkg/edit?pref=2&pli=1#bookmark=id.z9vlavikomdq">Read a step-by-step tutorial</a>.</h2>
    <h2 class="ilink"><i class="fa fa-info-circle"></i> Looking for a tool to embed a DocumentCloud annotation? head <a href="http://tools.apps.npr.org/documents/notes/">here</a></h2>
</header>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <label for="doc-url">First, paste In Your <a href="https://www.documentcloud.org/">DocumentCloud</a> URL</label>
                <span class="help-block">(For example, <a class="example" href="https://beta.documentcloud.org/documents/20438922-general-order.html">https://beta.documentcloud.org/documents/20438922-general-order.html</a>)</span>
                <input type="url" name="doc-url" class="form-control" />
            </div>

            <button id="generate" type="button" class="btn btn-blue">Generate embed code</button>

            <div class="form-group results">
                <label for="fullscreen-url">Fullscreen URL</label>
                <span class="help-block">If you want to link directly to the full document viewer with righthand navigation to annotations and sections of your document.</span>
                <input type="url" name="fullscreen-url" class="form-control" readonly="readonly"/>
            </div>

            <div class="form-group results">
                <label for="embed-code">Embed Code For Seamus</label>
                <span class="help-block">Add this code to your Seamus story as an <i class="icon-code"></i> HTML asset.</span>
                <textarea name="embed-code" class="form-control" rows="3" readonly="readonly"></textarea>
            </div>
        </form>

        <div class="results">
            <label for="iframe-example">How Your Embedded Document Will Look</label>

            <div id="iframe-example">
            </div>
        </div>

        <p class="footnote">Questions? Email <a href="mailto:nprapps@npr.org">nprapps@npr.org</a>. </p>
    </div>
</div>
{% endblock %}

{% block extra_foot_js %}
{{ JS.push('js/generate.js') }}
{{ JS.push('js/templates.js') }}
{{ JS.render('js/generate-footer.min.js') }}
{% endblock extra_foot_js %}
