{% extends '_base.html' %}

{% block header_content %}
<header>
    <h1>Loading...</h1>
    <h2>Related story: <a href="">Link Goes Here</a></h2>
</header>
{% endblock %}

{% block wide_content %}

<div id="DV-viewer" class="DV-container"></div>
<script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
<!-- <noscript>
  <a href="http://s3.documentcloud.org/documents/717015/fisher-vs-ut-austin.pdf">Fisher vs. UT-Austin (PDF)</a>
  <br />
  <a href="http://s3.documentcloud.org/documents/717015/fisher-vs-ut-austin.txt">Fisher vs. UT-Austin (Text)</a>
</noscript> -->

{% endblock %}
